
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <title>俱乐部信息</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/style.css" rel="stylesheet">
    <link href="lib/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <script src="lib/js/respond.min.js"></script>
    <![endif]-->


</head>

<script>
    var currentClub = '<%- JSON.stringify(currentClub) %>';
    var currentManager = '<%- JSON.stringify(currentManager) %>';
    currentClub = JSON.parse(currentClub);
    currentManager = JSON.parse(currentManager);
</script>

<body class="sticky-header" ng-controller="ClubCtrl">

<div ng-bind="ngManagerInfo" style="display: none;"></div>
<div ng-bind="ngClubInfo" style="display: none;"></div>

<section>
    <!-- left side start-->
    <% include left.content.ejs %>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <% include header.content.ejs %>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                俱乐部信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">场馆管理</a>
                </li>
                <li class="active"> 俱乐部信息 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            基本信息
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal adminex-form" method="get">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">俱乐部名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="ngClubInfo.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">俱乐部地址</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="ngClubInfo.address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">俱乐部地图坐标</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-input" data-original-title="地图应用中的坐标地址" ng-model="ngClubInfo.latlng">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">内部联系人</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control tooltips" data-trigger="hover" data-toggle="tooltip" title="" placeholder="内部联系人" data-original-title="用于与靶心平台联系的管理者" ng-model="ngClubInfo.cperson">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">箭馆电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-trigger="click" data-content="箭馆的联系电话" data-original-title="通讯" data-placement="top" data-toggle="popover" class="form-control popovers" placeholder="箭馆电话" ng-model="ngClubInfo.phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">箭道数量</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="focusedInput" type="text" value="This is focused..." ng-model="ngClubInfo.arrowRoadSize">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">场地面积</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." ng-model="ngClubInfo.houseSize">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>

                    <section class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal adminex-form" method="get">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">区域信息</label>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">省份</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="disabledInput" type="text" placeholder="" disabled="" ng-model="ngClubInfo.provinceName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">城市</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="disabledInput" type="text" placeholder="" disabled="" ng-model="ngClubInfo.cityName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">区县</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="disabledInput" type="text" placeholder="" disabled="" ng-model="ngClubInfo.districtName">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                    <section class="panel">
                        <header class="panel-heading">
                            场馆信息描述
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal adminex-form" method="get">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">配套</label>
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-model="ngClubInfo.coach">
                                                是否有教练
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-model="ngClubInfo.saloon">
                                                是否有茶座
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-model="ngClubInfo.wifi">
                                                是否有WIFI
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-model="ngClubInfo.parking">
                                                是否有停车场
                                            </label>
                                        </div>
                                    </div>
                </div>
                </form>
            </div>
        </section>



        <section class="panel">
            <header class="panel-heading">
                场馆信息描述
            </header>
            <div class="panel-body">
                <form method="get" class="form-horizontal bucket-form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea rows="6" class="form-control" ng-model="ngClubInfo.summary"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-2 col-md-offset-3">
                        <button type="button" class="btn btn-success btn-lg btn-block" ng-click="btnSaveClub()">保存</button>
                    </div>
                    <div class="col-sm-2 col-md-offset-2">
                        <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="btnReload()">重置</button>
                    </div>
                </div>
            </div>
        </section>


                    <section class="panel">
                        <header class="panel-heading">
                            场馆展示
                        </header>
                        <div class="panel-body">
                            <form method="get" class="form-horizontal bucket-form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图片</label>
                                    <div class="col-sm-10">
                                        <img src="lib/images/club/1.png" alt="" class="img-responsive" style="border-radius: 8px;">


                                        <label class="control-label">选择上传的文件</label>
                                        <input id="clubpic1" type="file" class="file">

                                        <label class="control-label">选择上传的文件</label>
                                        <input id="input-1" name="inputFile" type="file" multiple class="file-loading">

                                    </div>

                                </div>
                            </form>
                        </div>
                    </section>

                    <section class="panel">
                        <header class="panel-heading">
                            场馆展示
                        </header>
                        <div class="panel-body">
                            <form method="get" class="form-horizontal bucket-form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图片</label>
                                    <div class="col-sm-10">
                                        <img src="lib/images/club/2.png" alt="" class="img-responsive" style="border-radius: 8px;">
                                        <br/><br/>
                                        <button type="button" class="btn btn-primary"> 上传图片 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>


                    <section class="panel">
                        <header class="panel-heading">
                            场馆展示
                        </header>
                        <div class="panel-body">
                            <form method="get" class="form-horizontal bucket-form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图片</label>
                                    <div class="col-sm-10">
                                        <img src="lib/images/club/3.png" alt="" class="img-responsive" style="border-radius: 8px;">
                                        <br/><br/>
                                        <button type="button" class="btn btn-primary"> 上传图片 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>



                </div>
            </div>

            <!-- page end-->
        </section>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2016 &copy; by iBaxin
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>






<!-- Placed js at the end of the document so the pages load faster -->
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="lib/js/jquery-migrate-1.2.1.min.js"></script>
<!--<script src="lib/js/bootstrap.min.js"></script>-->

<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="lib/js/modernizr.min.js"></script>
<script src="lib/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="lib/js/scripts.js"></script>

<script src="http://cdn.bootcss.com/angular.js/1.4.11/angular.min.js"></script>
<script src="service/club.client.service.js"></script>

<script src="lib/sweetalert/dist/sweetalert.min.js"></script>

<link href="lib/sweetalert/dist/sweetalert.css" rel="stylesheet">



<script src="lib/bootstrap-fileinput/js/fileinput.min.js"></script>
<link href="lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.2/js/locales/zh.min.js"></script>

<script>
    $(document).on('ready', function() {
        $("#input-1").fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/uploadclubpic?clubId='+currentClub._id, //上传的地址
            allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
            showCaption: false,//是否显示标题
            browseClass: "btn btn-success", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"})
                .on("filebatchselected",function(event,files){
                    alert(currentCLub._id);
                })
                .on("fileuploaded",function(event,data){
                    alert('上传成功');
                });
    });
</script>
</body>
</html>
