
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>iBaxin</title>

    <link href="lib/css/style.css" rel="stylesheet">
    <link href="lib/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <script src="lib/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <% include left.content.ejs %>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <% include header.content.ejs %>
        <!-- header section end-->

        <!-- page heading start-->
        <!--<div class="page-heading">-->
        <!--Page Tittle goes here-->
        <!--</div>-->
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <div class="panel">
                <div class="panel-body invoice">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <h1 class="invoice-title">ibaxin invoice</h1>
                        </div>
                        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                            <img class="inv-logo" src="lib/images/invoice-logo.jpg" alt=""/>
                            <p>广东省,深圳市<br/>
                                福田区,桃源村<br/>
                                电话:15688999420<br/>
                                Email : 15635173@qq.com</p>
                        </div>
                    </div>
                    <div class="invoice-address">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <h4 class="inv-to">订单顾客</h4>
                                <h2 class="corporate-id">XX箭馆</h2>
                                <p>
                                    广东省,深圳市<br>
                                    罗湖区,XXX路<br>
                                    电话: 18688995566
                                </p>

                            </div>
                            <div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
                                <div class="inv-col"><span>订单编号#</span> 432134-A</div>
                                <div class="inv-col"><span>订单日期 :</span> 17 4 2016</div>
                                <h1 class="t-due">合计金额</h1>
                                <h2 class="amnt-value">￥ 3120.00</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-invoice">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>产品名称</th>
                        <th class="text-center">单价</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">合计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <h4>弓箭</h4>
                            <p>Hoyt Compound Bow Defiant Turbo 挑战 Turbo 复合弓</p>
                        </td>
                        <td class="text-center"><strong>￥ 599.00</strong></td>
                        <td class="text-center"><strong>4</strong></td>
                        <td class="text-center"><strong>￥2396.00</strong></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <h4>配件</h4>
                            <p>CBE Vertex Target 射瞄架.</p>
                        </td>
                        <td class="text-center"><strong>￥ 599.00</strong>	</td>
                        <td class="text-center"><strong>5</strong></td>
                        <td class="text-center"><strong>￥2995.00</strong></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <h4>配件</h4>
                            <p>Axcel Achieve Carbon Bar Cmpnd XL 复合瞄架</p>
                        </td>
                        <td class="text-center"><strong>￥ 599.00</strong>	</td>
                        <td class="text-center"><strong>2</strong></td>
                        <td class="text-center"><strong>￥1198.00</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="payment-method">
                            <h4>支付方式</h4>
                            <p>1. 货到付款：选择货到付款，在订单送达时可选择现金、POS机刷卡、支票方式支付货款</p>
                            <p>2. 在线支付：选择在线支付，请您进入“我的订单”，点击“付款”，按提示进行操作.</p>
                            <p>3. 公司转账：提交订单后选择线下公司转账会生成15位汇款识别码，请按照提示到银行操作转账，然后进入“我的订单”填写付款确认；</p>
                            <br>
                            <h3 class="inv-label">Thank you </h3>
                        </td>
                        <td class="text-right" colspan="2">
                            <p>合计</p>
                            <p>发票 (10%)</p>
                            <p>折扣 (5%)</p>
                            <p><strong>总计</strong></p>
                        </td>
                        <td class="text-center">
                            <p>￥ 6589.00</p>
                            <p>￥ 120.00</p>
                            <p>￥ 60.00</p>
                            <p><strong>￥5120.00</strong></p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="text-center ">
                <a class="btn btn-success btn-lg"><i class="fa fa-check"></i> 提交订单</a>
                <a class="btn btn-primary btn-lg" target="_blank" href="invoice_print.html"><i class="fa fa-print"></i> 打印订单 </a>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="">
            2016 &copy; iBaxin.com
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="lib/js/jquery-migrate-1.2.1.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/modernizr.min.js"></script>
<script src="lib/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="lib/js/scripts.js"></script>

</body>
</html>
