<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="index.html"><img src="lib/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="lib/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">
        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="lib/images/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list nav-active"><a href="index.html"><i class="fa fa-home"></i> <span>场馆管理</span></a>
                <ul class="sub-menu-list">
                    <li class="active"><a href="#">主页</a></li>
                    <li><a href="index_alt.html">信息管理</a></li>
                    <li><a href="index.html">活动管理</a></li>
                    <li><a href="index.html">装备售卖</a></li>
                </ul>
            </li>

            <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>会员管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/addmember">新增会员</a></li>
                    <li><a href="/memberinfo">会员信息</a></li>

                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>供应链</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/product">产品浏览</a></li>
                    <li><a href="/invoice">订单提交</a></li>
                    <li><a href="/order">订单管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>收银管理</span></a>
                <ul class="sub-menu-list">


                </ul>
            </li>

            <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>成绩审核</span></a>
                <ul class="sub-menu-list">
                    <li><a href="grids.html">待审核数据</a></li>
                    <li><a href="gallery.html">以往成绩</a></li>
                </ul>
            </li>
        </ul>
        <!--sidebar nav end-->

    </div>
</div>