<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>iBaxin</title>

    <!--icheck-->
    <link href="lib/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="lib/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="lib/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="lib/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="lib/css/clndr.css" rel="stylesheet">

    <!--common-->
    <link href="lib/css/style.css" rel="stylesheet">
    <link href="lib/css/style-responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <script src="lib/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header" ng-controller="MainCtrl">

<div id="currentClubInfo"  style="display:none;"><%= currentClub%></div>
<div id="currentManagerInfo"  style="display:none;"><%= currentManager%></div>
<div ng-bind="ngManagerInfo" style="display: none;"></div>
<div ng-bind="ngClubInfo" style="display: none;"></div>

<section>
    <!-- left side start-->
    <% include left.content.ejs %>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <% include header.content.ejs %>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row states-info">
                <div class="col-md-3">
                    <div class="panel red-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title"> 今日收入 </span>
                                    <h4>￥ 9,232</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel blue-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-tag"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  会员数量  </span>
                                    <h4>1,980</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel green-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-gavel"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  活跃会员  </span>
                                    <h4>132</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel yellow-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  本月增长  </span>
                                    <h4>32</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <section class="panel">
                        <header class="panel-heading">
                            日活跃度对比
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="visitors-chart">
                                <div id="visitors-container" style="width: 100%;height:358px; text-align: center; margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <header class="panel-heading">
                            活跃会员排行
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div class="dir-info">

                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="lib/images/photos/user2.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#"><h5>舒璨</h5></a>
                                        <span>
                                            <h6>总环:18280  均环:7.8</h6>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="dir-like" href="#">
                                            <span class="small">434</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="lib/images/photos/user1.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#"><h5>蔡小阳</h5></a>
                                        <span>
                                            <h6>总环:18280  均环:7.8</h6>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="dir-like" href="#">
                                            <span class="small">441</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="lib/images/photos/user3.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#"><h5>卢弈霖</h5></a>
                                        <span>
                                            <h6>总环:18280  均环:7.8</h6>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="dir-like" href="#">
                                            <span class="small">124</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="lib/images/photos/user4.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#"><h5>贺辉阳</h5></a>
                                        <span>
                                            <h6>总环:18280  均环:7.8</h6>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="dir-like" href="#">
                                            <span class="small">334</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="lib/images/photos/user1.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#"><h5>熙熙</h5></a>
                                        <span>
                                            <h6>总环:18280  均环:7.8</h6>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="dir-like" href="#">
                                            <span class="small">44</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2016 &copy; iBaxin.com
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="lib/js/jquery-migrate-1.2.1.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/modernizr.min.js"></script>
<script src="lib/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="lib/js/easypiechart/jquery.easypiechart.js"></script>
<script src="lib/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="lib/js/sparkline/jquery.sparkline.js"></script>
<script src="lib/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="lib/js/iCheck/jquery.icheck.js"></script>
<script src="lib/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="lib/js/flot-chart/jquery.flot.js"></script>
<script src="lib/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="lib/js/flot-chart/jquery.flot.resize.js"></script>
<script src="lib/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="lib/js/flot-chart/jquery.flot.selection.js"></script>
<script src="lib/js/flot-chart/jquery.flot.stack.js"></script>
<script src="lib/js/flot-chart/jquery.flot.time.js"></script>
<script src="lib/js/main-chart.js"></script>



<script src="http://cdn.bootcss.com/angular.js/1.4.11/angular.min.js"></script>
<script src="service/main.client.service.js"></script>

<!--common scripts for all pages-->
<script src="lib/js/scripts.js"></script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">蔡小阳对话中</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <ul class="chats cool-chat">
                        <li class="in">
                            <img src="lib/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">Scan</a>
                                <span class="datetime">at 4月 12, 2016 6:12</span>
                                        <span class="body">
                                            测试信息1。。。。。
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="lib/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">蔡小阳</a>
                                <span class="datetime">at 4月 12, 2016 6:13</span>
                                        <span class="body">
                                            靠，这是一条回复信息
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="lib/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">舒璨</a>
                                <span class="datetime">at 4月 12, 2016 6:12</span>
                                        <span class="body">
                                            哇哈哈哈，加班到天亮。。
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="lib/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">蔡小阳</a>
                                <span class="datetime">at 4月 12, 2016 6:13</span>
                                        <span class="body">
                                            测试信息2号。。。
                                        </span>
                            </div>
                        </li>
                        <li class="in">
                            <img src="lib/images/photos/user1.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">舒璨</a>
                                <span class="datetime">at 4月 12, 2016 6:12</span>
                                        <span class="body">
                                            我一鸟铳，让你嗨到天涯海角。。。
                                        </span>
                            </div>
                        </li>
                        <li class="out">
                            <img src="lib/images/photos/user2.png" alt="" class="avatar">
                            <div class="message">
                                <span class="arrow"></span>
                                <a class="name" href="#">蔡小阳</a>
                                <span class="datetime">at 4月 14, 2016 6:13</span>
                                        <span class="body">
                                            射箭 射箭。。。
                                        </span>
                            </div>
                        </li>
                    </ul>
                    <div class="chat-form ">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <input type="text" style="width: 100%" placeholder="请输入留言信息..." class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">发送</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Name详细资料</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="profile-pic text-center">
                                    <img alt="" src="lib/images/photos/user1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <ul class="p-info">
                                    <li>
                                        <div class="title">昵称</div>
                                        <div class="desk">Eson</div>
                                    </li>
                                    <li>
                                        <div class="title">手机</div>
                                        <div class="desk">18674881900</div>
                                    </li>
                                    <li>
                                        <div class="title">城市</div>
                                        <div class="desk">长沙</div>
                                    </li>
                                    <li>
                                        <div class="title">总箭数</div>
                                        <div class="desk">1245</div>
                                    </li>
                                    <li>
                                        <div class="title">平均环</div>
                                        <div class="desk">7.9</div>
                                    </li>
                                    <li>
                                        <div class="title">总环数</div>
                                        <div class="desk">8965</div>
                                    </li>
                                    <li>
                                        <div class="title">来馆次数</div>
                                        <div class="desk">53</div>
                                    </li>
                                    <li>
                                        <div class="title">最近来馆</div>
                                        <div class="desk">2016-4-1</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="#myModal-1" data-toggle="modal" class="btn btn-success center-block">
                            发送通知
                        </a>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#myModal").modal();
    });
</script>
</body>
</html>
