
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>iBaxin</title>

    <link href="lib/css/style.css" rel="stylesheet">
    <link href="lib/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <script src="lib/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <% include left.content.ejs %>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <% include header.content.ejs %>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                会员信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">会员管理</a>
                </li>
                <li class="active">会员信息</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <ul class="directory-list">
                <li><a href="#">a</a></li>
                <li><a href="#">b</a></li>
                <li><a href="#">c</a></li>
                <li><a href="#">d</a></li>
                <li><a href="#">e</a></li>
                <li><a href="#">f</a></li>
                <li><a href="#">g</a></li>
                <li><a href="#">h</a></li>
                <li><a href="#">i</a></li>
                <li><a href="#">j</a></li>
                <li><a href="#">k</a></li>
                <li><a href="#">l</a></li>
                <li><a href="#">m</a></li>
                <li><a href="#">n</a></li>
                <li><a href="#">o</a></li>
                <li><a href="#">p</a></li>
                <li><a href="#">q</a></li>
                <li><a href="#">r</a></li>
                <li><a href="#">s</a></li>
                <li><a href="#">t</a></li>
                <li><a href="#">u</a></li>
                <li><a href="#">v</a></li>
                <li><a href="#">w</a></li>
                <li><a href="#">x</a></li>
                <li><a href="#">y</a></li>
                <li><a href="#">z</a></li>
            </ul>
            <div>
                <div class="panel-body">
                    <p>按条件搜索</p>
                    <button class="btn btn-primary" type="button">总积分</button>
                    <button class="btn btn-success" type="button">均环</button>
                    <button class="btn btn-info" type="button">最近射箭时间</button>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" type="button">箭组<span class="caret"></span></button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">3</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">12</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle" type="button">箭道<span class="caret"></span></button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">10</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">50</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="directory-info-row">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>蔡小阳 <span class="text-muted small"> - Lv.12</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>舒璨 <span class="text-muted small"> - Lv.13</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>卢奕霖 <span class="text-muted small"> - Lv.33</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>蔡小阳 <span class="text-muted small"> - Lv.12</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>舒璨 <span class="text-muted small"> - Lv.13</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>卢奕霖 <span class="text-muted small"> - Lv.33</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>蔡小阳 <span class="text-muted small"> - Lv.12</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>舒璨 <span class="text-muted small"> - Lv.13</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>卢奕霖 <span class="text-muted small"> - Lv.33</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>蔡小阳 <span class="text-muted small"> - Lv.12</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>舒璨 <span class="text-muted small"> - Lv.13</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>卢奕霖 <span class="text-muted small"> - Lv.33</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user3.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>蔡小阳 <span class="text-muted small"> - Lv.12</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user2.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 186748819010
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <h4>舒璨 <span class="text-muted small"> - Lv.13</span></h4>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="thumb media-object" src="lib/images/photos/user1.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <address>
                                            <strong>积分 89.87</strong><br>
                                            均环:8.6<br>
                                            总环:5487 <br>
                                            常用箭道:12米道<br>
                                            <abbr title="Phone">P:</abbr> 18674881900
                                        </address>
                                        <ul class="social-links">
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="个人信息"><i class="fa fa-credit-card"></i></a></li>
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="发送消息"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="">
            2016 &copy; iBaxin
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="lib/js/jquery-migrate-1.2.1.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/modernizr.min.js"></script>
<script src="lib/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="lib/js/scripts.js"></script>

</body>
</html>
